<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading"><%= i18n('summary').configuration %></div>
        <ul class="list-group navigation-left">
            <li class="list-group-item">
                <a href="/alert/index"><%= i18n('alert').plural %></a>
            </li>
            <li class="list-group-item">
                <a href="/area/index"><%= i18n('area').plural %></a>
            </li>
            <li class="list-group-item">
                <a href="/item/index"><%= i18n('item').plural %></a>
            </li>
            <li class="list-group-item">
                <a href="/status/index"><%= i18n('status').plural %></a>
            </li>
            <li class="list-group-item">
                <a href="/user/index"><%= i18n('user').plural %></a>
            </li>
            <li class="list-group-item">
                <a href="/server/index"><%= i18n('server').plural %></a>
            </li>
            <li class="list-group-item">
                <a href="/statics/index"><%= i18n('static').plural %></a>
            </li>
        </ul>
    </div>
</div>