<div class="main">
    <form action="/status/create" method="POST" id="sign-up-form" class="form-signin">
        <h2 class="form-signin-heading"><%= i18n('status').create.title %></h2>

        <div class="control-group">
            <input type="text" class="form-control" placeholder="<%= i18n('status').name %>" name="name">
            <textarea class="form-control" placeholder="<%= i18n('status').description %>" name="description"></textarea>
        </div>

        <input type="submit" class="btn btn-lg btn-primary btn-block" value="<%= i18n('status').submit %>"/>
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
    </form>
</div>