<div class="container main">
    <div class="col-md-4">
        <ul>
            <li>
                <a><%= i18n('alert').plural %></a>
            </li>
            <li>
                <a><%= i18n('area').plural %></a>
            </li>
            <li>
                <a><%= i18n('item').plural %></a>
            </li>
            <li>
                <a><%= i18n('status').plural %></a>
            </li>
            <li>
                <a><%= i18n('user').plural %></a>
            </li>
            <li>
                <a><%= i18n('static').plural %></a>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <ul>
            <li>
                <>
            </li>
            <li>alert2</li>
            <li>alert3</li>
            <li>alert1</li>
            <li>alert1</li>
            <li>alert1</li>
            <li>alert1</li>
        </ul>
    </div>
</div>