<div class="container">
    <h3><%= i18n('alert').index.title %></h3>
    <table class="table">
        <tr>
            <th><%= i18n('alert').name %></th>
            <th><%= i18n('alert').area %></th>
            <th><%= i18n('alert').rules %></th>
            <th><%= i18n('alert').priority %></th>
        </tr>

        <% _.each(alerts, function(alert) {%>
        <tr data-model="alert">
            <td><%= alert.name %></td>
            <td><%= alert.area %></td>
            <td><%= alert.rules %></td>
            <td><%= alert.priority %></td>
            <td><a href="/alert/show/<%= alert.id %>" class="btn btn-sm btn-primary"><%= i18n('alert').show %></a></td>
            <td><a href="/alert/edit/<%= alert.id %>" class="btn btn-sm btn-warning"><%= i18n('alert').edit %></a></td>
            <td>
                <form action="/alert/destroy/<%= alert.id %>" method="POST">
                    <input type="hidden" name="_method" value="delete"/>
                    <input type="submit" class="btn btn-sm btn-danger" value="<%= i18n('alert').delete %>"/>
                </form>
            </td>
        </tr>
        <% }); %>

    </table>
</div>